.app {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-list {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.todo button {
  margin-left: 5px;
}

.input {
  padding: 10px;
  width: calc(100% - 22px);
  border: 1px solid #ddd;
  border-radius: 4px;
}